body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ctnGalerie{
  background-color: aqua;
  width: 640px;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fleche{
  background-color: white;
  opacity: 30%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.imgGalerie{
  position: absolute;
  max-width: 640px;
  max-height: 360px;
  margin: auto;
  transform-origin: 500px 320px;
}

.skip{
  animation-name: carteArriere;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.42,.53,.48,.95);
  animation-fill-mode: forwards;
}

.avant{
  animation-name: carteArriere;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.42,.53,.48,.95);
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes carteArriere {
  from, to{
    transform: translateY(0px) rotate(0);
    z-index:10000000000;
  }
  50%{
    transform: translateY(-300px) rotate(80deg);
    z-index: 0;
  }
  to{
    z-index: 0;
  }
}